<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exdiary.web_backend.mapper.DiaryListMapper">
    <select id="getDiaryList" resultType="com.exdiary.web_backend.dto.DiaryListDTO">
        SELECT * FROM diarylist WHERE diary_num=#{diary_num} AND email=#{email}
    </select>
</mapper>