<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exdiary.web_backend.mapper.UserMapper">
    <!-- 유저 회원가입 하기 -->
    <insert id="insetUser" parameterType="com.exdiary.web_backend.dto.UserDTO">
            INSERT INTO user (email,password,username)
            VALUES( #{email},#{password},#{username} )
    </insert>

    <!-- 회원 가입여부 가져오기  -->
    <select id="registerCheck" resultType="int">
        SELECT COUNT(*) FROM user where email=#{email}
    </select>

    <!-- email로 user 가져오기 -->
    <select id="findUserByEmail" resultType="com.exdiary.web_backend.dto.UserDTO">
            SELECT * FROM user WHERE email=#{email}
    </select>

    <!-- 유저 정보 업데이트 하기  -->
    <update id="updateUserInfo" >
        UPDATE user SET phone=#{phone}, profile_img=#{profile_img}
        WHERE email=#{email}
    </update>

    <!-- 인증번호 저장 -->
    <insert id="setAuthKey" parameterType="String">
        INSERT INTO login_auth (auth_key,email)
        VALUES (#{param1}, #{param2})
    </insert>

    <!-- 인증 번호 확인 -->
    <select id="confirmLoginSecret" resultType="int">
        SELECT COUNT(*) FROM login_auth where email=#{email} AND auth_key=#{auth_key}
    </select>

    <!-- 이미 인증번호 발송한 이메일인지 확인 -->
    <select id="sendEmailCheck" resultType="int">
        SELECT COUNT(*) FROM login_auth where email=#{email}
    </select>

    <!-- 인증번호 업데이트 -->
    <update id="updateLoginAuth" >
        UPDATE login_auth SET email=#{param1},auth_key=#{param2}, send_date=now()
        WHERE email=#{param1}
    </update>

    <!-- 가입이 완료된 유저는 login_auth 컬럼에서 삭제하기 -->
    <delete id="deleteLoginAuth" parameterType="String" >
        DELETE FROM login_auth WHERE email=#{email}
    </delete>

    <!-- 현재날짜 가져오기 -->
    <select id="getCurDate" resultType="String">
        SELECT current_date()
    </select>
</mapper>